:root {
  --background-blanco: #ffffff;
  --raleway: "Raleway", sans-serif;
  --color-fuente-nav: #00204a;
  --line-color: #faf5e4;
  --color-text: #faf5e4;
  --background-nav: #C04848;
  --background-light: #fdb44b;
  --color-banner-title: #dfd3c3;
  --color-text-btn: #C04848;
  --color-background-btn-primary: #C04848;
  --color-background-btn-effect: #c50d66;
  --card-color: #eaf6f6;
}

