.portfolios {
  background: #dbd8e3;
  padding: 2rem;
}

.portfolios__title {
  padding-bottom: 1rem;
  font-size: 1.375rem;
  color: #455d7a;
  font-weight: 700;
  text-align: center;
}

.portfolios__projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4rem;
  gap: 2rem;
}

.portfolio__project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.portfolio__project__img {
  height: 15rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1rem solid var(--background-blanco);
  overflow: hidden;
  box-shadow: 0 0 1.6rem var(--color-background-btn-primary);
  transition: all 400ms ease;
}

.portfolio__project__img:hover {
  box-shadow: none;
}

.portfolio__project__img img {
  width: 100%;
  transform: 0;
  transition: all 5s ease;
}

.portfolio__project__img img:hover {
  transform: translateY(calc(-100% + 15rem));
}

.portfolio__description {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 2rem;
  margin-right: 2rem;
}

.portfolio__description__title {
  color: #455d7a;
  font-weight: 700;
  font-size: 1.2rem;
}
.portfolio__description__text {
  color: #455d7a;
  font-weight: 500;
  font-size: 1rem;
}

.portfolio__description__btn {
  display: flex;
  gap: 1rem;
}

/* TABLETS */

@media screen and (min-width: 768px) {
  .portfolios {
    padding-right: 3rem;
  }

  .portfolio__description {
    margin-right: 24rem;
    margin-top: 1rem;
  }

  .portfolio__project__img {
    width: 90%;
    height: 20rem;
  }

  .portfolio__project__img img:hover {
    transform: translateY(calc(-100% + 20rem));
  }
}
/* PARA PC */

@media screen and (min-width: 1024px) {
  .portfolios__projects {
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
  }
  .portfolio__project {
    flex-direction: row;
    padding-left: 2rem;
    width: 100%;
    height: 30rem;
  }

  .portfolio__project:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .portfolio__description {
    margin-right: 5rem;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1440px) {
  .portfolio__project {
    padding-left: 3rem;
    gap: 0.5rem;
  }
}

@media screen and (min-width: 1824px) {
  .portfolio__project {
    width: 70%;
  }
}
